torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
torchmetrics==1.7.1
torch-geometric==2.6.1
torch-scatter==2.1.2+pt25cu124
torch-sparse==0.6.18+pt25cu124
torch-cluster==1.6.3+pt25cu124
torch-spline-conv==1.2.2+pt25cu124
torchcde==0.2.5
torchdiffeq==0.2.5
torchdyn==1.0.6
torchsde==0.2.6
geoopt==0.5.1
numpy==2.2.1
pandas==2.2.3
scipy==1.14.1
scikit-learn==1.6.0
tqdm==4.67.1

